* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px;
  background: #f0f0f0;
}

.frame {
  border: 5px solid black;
  padding: 20px;
  width: fit-content;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  gap: 10px;
}

.item {
  width: 150px;
  height: 100px;
  background: skyblue;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; 
}

.wide {
  width: 310px; 
}
